@{
    ViewBag.Title = "Home Page";
}

    <!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="intro-text">
                    <span class="skills">Your local Sunday market online</span>
                </div>
            </div>
        </div>
    </div>
</header>

   <!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Trending</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <a href="productPage.html"><img src="~/images/ei59.jpg" /></a>
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Almond Butter</span>
                            <span class="pin-company-name">Broken Food Company</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★☆</span>
                            <span class="pin-price">$12 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei33.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Special tea</span>
                            <span class="pin-company-name">Good Tea Together</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★☆</span>
                            <span class="pin-price">$30 per 500g</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei02.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Thyme Sauerkraut</span>
                            <span class="pin-company-name">Sauer Foods</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★☆</span>
                            <span class="pin-price">$14 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei04.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Sauerkraut</span>
                            <span class="pin-company-name">Sauer Foods</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★☆</span>
                            <span class="pin-price">$14 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei05.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Organic Chutney</span>
                            <span class="pin-company-name">Mad Tomatoes</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★☆</span>
                            <span class="pin-price">$8 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei06.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Seasonal Honey</span>
                            <span class="pin-company-name">Edens Nectar</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★★</span>
                            <span class="pin-price">$15 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei07.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Cinnamon Honey</span>
                            <span class="pin-company-name">Oak Creek Farms</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★★</span>
                            <span class="pin-price">$20 per jar</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-6">
                <div class="pin-card">
                    <img src="~/images/ei08.jpg" />
                    <div class="pin-left">
                        <p>
                            <span class="pin-product-name">Cherry Jam</span>
                            <span class="pin-company-name">The Dutch Kettle</span>
                        </p>
                    </div>
                    <div class="pin-right">
                        <p>
                            <span class="pin-review">★★★★★</span>
                            <span class="pin-price">$10 per jar</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>