/*!
 * Product Listing Code Goes Here
 * By Chris
*/

/* 
 *** PRODUCT LISTING ***
 */

.productImage {
	width: 100%;
}

.carousel-inner2 {
	width: 100%;
	max-height: 600px;
}

.productDescriptionItems {
	margin-top: 25px;
}

.review-row {
	margin-top: 10px;
}

.review-stars {
	color: #FBB117;
}

.review-profile {
	max-height: 60px;
	max-width: 60px;
	margin: 5px;
}