@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

<h2>Browse All Products</h2>
<hr>

<div class="row">

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <a href="productPage.html"><img src="~/images/ei59.jpg" /></a>
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Almond Butter</span>
                    <span class="pin-company-name">Broken Food Company</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★☆</span>
                    <span class="pin-price">$12 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei33.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Special tea</span>
                    <span class="pin-company-name">Good Tea Together</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★☆</span>
                    <span class="pin-price">$30 per 500g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei02.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Thyme Sauerkraut</span>
                    <span class="pin-company-name">Sauer Foods</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★☆</span>
                    <span class="pin-price">$14 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei04.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Oregano Sauerkraut</span>
                    <span class="pin-company-name">Sauer Foods</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★☆</span>
                    <span class="pin-price">$14 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei05.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Original Organic Chutney</span>
                    <span class="pin-company-name">Mad Tomatoes</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★☆</span>
                    <span class="pin-price">$8 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei06.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Seasonal Honey</span>
                    <span class="pin-company-name">Edens Nectar</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$15 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei07.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Cinnamon Honey</span>
                    <span class="pin-company-name">Oak Creek Farms</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$20 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei08.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Cherry Jam</span>
                    <span class="pin-company-name">The Dutch Kettle</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$10 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei09.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Russian Pickles</span>
                    <span class="pin-company-name">Pickled Smiles</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$10 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei10.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Polish Pickles</span>
                    <span class="pin-company-name">Pickled Smiles</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$10 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei11.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Argetinian Pickles</span>
                    <span class="pin-company-name">Pickled Smiles</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$10 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei20.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Chilli Minced Garlic</span>
                    <span class="pin-company-name">Dennis Farms</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$7.50 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei21.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Kimchi</span>
                    <span class="pin-company-name">Sauer Foods</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$15 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei24.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">White Chocolate Bites</span>
                    <span class="pin-company-name">Choc Chefs</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$20 per box</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei26.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Chocolate Peanuts</span>
                    <span class="pin-company-name">Choc Chefs</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$8 per box</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei17.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Bread & Butter Squash</span>
                    <span class="pin-company-name">Squash Squad</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$14 per jar</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei27.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Salamender Blend</span>
                    <span class="pin-company-name">Jefferies Roastery</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$11 per 250g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei41.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Aged Blue Cheese</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$20 per 1kg block</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei34.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Salamanca Blend</span>
                    <span class="pin-company-name">Jefferies Roastery</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$12 per 250g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei45.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Swiss Curd</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$15 per 500g block</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei37.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Gouda</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$12 per 500g block</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei38.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Ground Brazil Nuts</span>
                    <span class="pin-company-name">Nutty Co</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$10 per 200g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei39.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Chilli & Cayenne Blend</span>
                    <span class="pin-company-name">Spice of Life</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$5 per 100g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei40.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Goat Gouda</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$15 per 500g block</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei42.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Buffalo Brie Cheese</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$25 per 500g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei43.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Tumeric Curry Blend</span>
                    <span class="pin-company-name">Spice of Life</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$8 per 100g</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei44.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">Sheep Milk Cheese</span>
                    <span class="pin-company-name">General Dairy</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$25/250g block</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-4 col-6">
        <div class="pin-card">
            <img src="~/images/ei28.jpg" />
            <div class="pin-left">
                <p>
                    <span class="pin-product-name">South American Blend</span>
                    <span class="pin-company-name">Coffee Co</span>
                </p>
            </div>
            <div class="pin-right">
                <p>
                    <span class="pin-review">★★★★★</span>
                    <span class="pin-price">$12 per 250g</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Heading</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
