@model IEnumerable<Pantry.Models.Item>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

<h2>Browse All Products</h2>
<hr>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-sm-4 col-6">
            <div class="pin-card">
                <a href="~/product/@item.Id">
                    <img src="~/images/@item.ImagePach" />
                </a>
                <div class="pin-left">
                    <p>
                        <span class="pin-product-name">@item.Name</span>
                        <span class="pin-company-name">@item.Vendor.Name</span>
                    </p>
                </div>
                <div class="pin-right">
                    <p>
                        <span class="pin-review">
                            @for (var i = 5; i > 0; i--)
                            {
                                if (i > item.Score)
                                {
                                  ☆
                                }
                                else
                                {
                                  ★
                                }
                            }
                        </span>
                        <span class="pin-price">$@item.Price per jar</span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>